<div class="container">
  <mat-card class="card">
    <div class="swipe-button-container">
      <!-- Button for swiping left -->
      <button mat-icon-button class="swipe-button swipe-left" (click)="swipeLeft()">
        <mat-icon style="font-size: 32px;">keyboard_arrow_left</mat-icon>
      </button>
      
      <div class="img-container"> 
        <ng-container *ngIf="!showGrowth || currentGrowthIndex === -1">
          <!-- Image for the current dog breed -->
          <img mat-card-image [src]="currentBreed?.imageUrl" alt="Dog Image">
        </ng-container>
        
        <ng-container *ngIf="showGrowth && currentGrowthIndex !== -1">
          <!-- Image for the current growth stage of the dog breed -->
          <img mat-card-image [src]="currentBreed?.growthImages[currentGrowthIndex]" alt="Dog Growth Image">
        </ng-container>
      </div> 

      <!-- Button for swiping right -->
      <button mat-icon-button class="swipe-button swipe-right" (click)="swipeRight()">
        <mat-icon style="font-size: 32px;">keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <!-- Button to toggle growth stages -->
    <button mat-button class="toggle-growth-button" (click)="toggleGrowth()">
      {{ showGrowth ? 'Hide Growth Stages' : 'Watch Me Grow' }}
    </button>

    <mat-card-content class="card-content">
      <!-- Breed name -->
      <h2 mat-card-title class="breed-name">{{currentBreed?.name}}</h2>
      <!-- Breed description -->
      <p mat-card-subtitle class="description">{{currentBreed?.description}}</p>
    </mat-card-content>
  </mat-card>
</div>

