/* Styles for the container */
.container {
  display: flex;  
  justify-content: center;  
  align-items: center; 
  height: 100vh;  
  background-color: #d6ccc2;  
}

/* Styles for the card, beige theme with rounded corners*/
.card {
  width: 90%;  
  max-width: 600px;  
  display: flex;  
  flex-direction: column;  
  align-items: center; 
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);  /* Box shadow */
  background-color: #f5ebe0;  
  padding: 20px;  
  animation: fadeIn 0.5s ease-in-out;  /* Fade in animation */
  position: relative; 
  overflow: hidden; 
}

/* Styles for the card image */
.card img {
  width: 100%;  
  height: auto;  
  object-fit: cover; 
  border-radius: 10px;
}

/* Styles for the card content */
.card-content {
  width: 100%;  
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
}

/* Styles for the breed name */
.breed-name {
  font-size: 28px;
  font-weight: bold; 
  margin-bottom: 8px; 
  color: #4d4d4d;
}

/* Styles for the description */
.description {
  text-align: center; 
  font-size: 18px; 
  color: #4d4d4d; 
}

/* Styles for the toggle growth button */
.toggle-growth-button {
  background-color: #ffff; 
  color: #4d4d4d;
  border: 0px solid #4d4d4d;

  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;  
  display: inline-block;  
  font-size: 16px; 
  font-weight: bold;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
  cursor: pointer;  
  border-radius: 12px; 
  margin-bottom: 20px;  
}

/* Styles for the hover effect on the toggle growth button */
.toggle-growth-button:hover {
  background-color: #d5bdaf;  
  color: #4d4d4d;  
  transform: translateY(-1px); 
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.18), 0 4px 15px rgba(0, 0, 0, 0.15);  /* Box shadow */
}

/* Styles for the active state of the toggle growth button */
.toggle-growth-button:active {
  transform: translateY(1px); 
}

/* Styles for the swipe button container */
.swipe-button-container {
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  padding: 20px;  
  margin-bottom: 20px;  
}

/* Styles for the swipe buttons, transparent with arrow heads */
.swipe-button {
  color: #4d4d4d; 
  background-color: transparent;  
  border: none; 
  cursor: pointer; 
  padding: 8px;  
  font-size: 24px;  
  transition-duration: 0.4s;  
}

/* Styles for the hover effect on the swipe buttons */
.swipe-button:hover {
  background-color: #e3d5ca;  
  color: #4d4d4d;  
}

/* Styles for the growth stage container */
.growth-stage-container {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  width: 100%;  
  overflow-x: auto;  
  scroll-snap-type: x mandatory; 
}

/* Styles for hiding the scrollbar in the growth stage container */
.growth-stage-container::-webkit-scrollbar {
  display: none; 
}

/* Styles for the growth stage image */
.growth-stage-image {
  width: auto;  
  height: 100%; 
  object-fit: cover;  
  scroll-snap-align: center;  
}

/* Animation keyframes for the fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;  
    transform: scale(0.9);  
  }
  100% {
    opacity: 1;  
    transform: scale(1);  
  }
}

/* Styles for the image container */
.img-container {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  width: 100%;  
  height: 400px;  
}


